@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #063436;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("./fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("./fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("./fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("./fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("./fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"),
    url("./fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  /* max-width: 2500px; */
  margin: 0 auto;
}

@layer utilities {
  .mask-radial {
    -webkit-mask-image: radial-gradient(
      circle 10px at 0 0,
      transparent 0,
      transparent 20px,
      black 21px
    );
    mask-image: radial-gradient(
      circle 10px at 0 0,
      transparent 0,
      transparent 20px,
      black 21px
    );
  }
}
